.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons-outlined.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-18 { font-size: 18px; }
*{
    box-sizing: border-box;

}
html,
body{
    font: 14px 'Roboto', Helvetica, Arial, sans-serif;
    background: rgb(32,33,36);
    overflow: auto;
}
/* Root*/
.Root{
    margin: 0 auto;
    width: 100%;
    height:800px;
    background: rgb(32,33,36);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding:1em;
    color: #202124;
    font-weight:300;
}
/*People*/
.People{
    display:flex;
    flex-direction: row;
}
/*Host Section*/
.Spotlight{
    width: 73%;
}
.Host{
    background: rgb(32,33,36);
    display: flex;
    height: 700px;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.Spotlight_Pic_and_mis{
    position:relative;
    transform: translate(30%, 0%);
    display:flex;
    flex-direction: row;
    align-self:center;
    border-radius:50%;
}


.on_screen_button{
    transform:translate(-35%, 0%);
    inset:0;
    margin: 0;
    padding: 0;
    list-style:none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    position:absolute;   
    align-self:center;
}


#mis{
    border: none;
    padding: 1px;
    width:135px;
    height: 45px;
    font-weight: inherit;
    border: 1px solid transparent;
    border-radius: 30px;
    cursor:pointer;
    background-color:rgb(61,64,67);
    opacity: 0;
}


.Host:hover
    #mis{
    opacity: 0.3;
  }

.Host:hover
    #mis:hover {
    opacity: 0.5;
}


.mic_off{
    padding:1em;
    align-self: flex-end;
}
.situation{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    padding:1em;
    align-self: flex-start;
}

.Spotlight_id{
    text-align: left;
    align-self: flex-end;
    padding: 2px;
    color:white;  
}

/*Guest Section*/
.Collaborators{
    width:27%;
    height:80%;
    position: relative;
    top: 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
    flex-wrap:wrap;
}
.Guest{
    width:47%;
    height:180px;
    background: rgb(61,64,67);
    display:flex;
    flex-direction: column;  
    justify-content: space-between; 
    align-items: left;
    border-radius:5px
    
}
.Guest_Button{
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: left;
    padding:5px;
}

.closetab{
    border: none;
    padding: 3px;
    font-size:0.8em;
    font-weight: inherit;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor:pointer;
    background-color: rgb(61,64,67);
}

.closetab button:focus{
    outline:none;
}
.mute{
    position:relative;
    border: none;
    padding: 0.5em;
    background: rgb(52,55,58);
    border-radius: 50%;
}
.name{
    padding:1em;
    align-self: flex-start;
    color: white;
}   

.Guest_Pic{
    position:relative;
    transform: translate(30%, 0%);
    align-self:center;
    border-radius:50%;
}

.Guest_mis{
    inset:0;
    margin: 0;
    padding: 0;
    list-style:none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    left:-1.5em;
    top:1em;
    position:absolute;
    border: none;
    padding: 0.5px;
    width:70%;
    height: 30px;
    font-weight: inherit;
    border: 0px solid transparent;
    border-radius: 30px;
    cursor:pointer;
    background-color: rgb(52,55,58); 
    opacity: 0;
}

.Guest:hover
    .Guest_mis{
    opacity: 0.3;
  }

.Guest:hover
    .Guest_mis:hover {
    opacity: 0.5;
}
/*Bunch of Buttons*/
.Google_meet_footer{
    width: 100%;
    height: 3em;
    padding: 1em;
    background: rgb(32,33,36);
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-top: 0.5px solid rgba(0, 0, 0, 0.089);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.time_and_name{
    min-width: 3em;
    align-self: right;
    color:white; 
}
.control_buttons{
    
    margin: 0;
    margin-left: 2em;
    padding: 0;
    width:23em;
    list-style:none;
    
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;  
}


.button{
    border: none;
    padding-top: 19px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;

    width:45px;
    height: 45px;
    font-weight: inherit;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor:pointer;
    background-color:rgb(61,64,67);
    
}





.control_buttons button{
    border: none;
    padding: 5px;
    width:45px;
    height: 45px;
    font-weight: inherit;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor:pointer;
    background-color:rgb(61,64,67);
}

.inputController {
    display: none;
  }

.inputController:checked + .mic_on_off {
    background-color:rgb(216,81,64);
  }

.inputController:checked + .video {
    background-color:rgb(216,81,64);
  }
.inputController:checked + .raise {
    background-color:rgb(216,81,64);
  }

.inputController:checked + .share {
    background-color:rgb(216,81,64);
  }


#endall{
    width: 60px;
    border-radius: 30px;
    background-color: rgb(216,81,64);
}



.control_buttons button button:focus{
    outline:none;
}

.other_buttons{
    vertical-align: middle;
    margin: 0;
    margin-left: 2em;
    padding: 0;
    
    list-style:none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    align-self: flex end;
}

.other_buttons button{
    border: none;
    padding: 6px;
    font-size:0.8em;
    font-weight: inherit;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor:pointer;
    background-color: rgb(32,33,36);
}

.other_buttons button button:focus{
    outline:none;
}


